<app-menu-title></app-menu-title>
<div class="container-articles">
  <div class="articles-main">
    <app-big-box Id="1"
      photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQuhGzkPnC5WqKg9ImW8TOGIgK9LG7YIMl9TA&usqp=CAU"
      cardTitle="Novo evento de Magic"
       cardDescription="Nao perca esse evento.">
    </app-big-box>
  </div>
  <div class="articles-others">
    <app-small-box Id="2"
      photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRLAbPvL-2MWT1fwB6GZvKfKQ-ibZ5tK4nIDQ&usqp=CAU"
      cardTitle="Aprenda a jogar em 7 passos">
    </app-small-box>
    <app-small-box Id="3"
      photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRUzWI64lf391hrgK2vBL635cAMv5erLGjHsg&usqp=CAU"
      cardTitle="Nova coleção lançada">
    </app-small-box>
    <app-small-box Id="4"
      photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTciMTosn-leAh8MobWy-vfkasiIqWcI5uH7Q&usqp=CAU"
      cardTitle="O que esperar nos proximos torneios">
    </app-small-box>
  </div>
</div>